src/main/resources/wsdl/CamelPoc.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://camelpoc.poc.businessagility.com"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://camelpoc.poc.businessagility.com">
    <wsdl:types>
        <xs:schema targetNamespace="http://camelpoc.poc.businessagility.com">
            <xs:element name="CamelPocRequestType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CamelPocResponseType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="returnCode" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="CamelPocRequestMessage">
        <wsdl:part name="in" element="tns:CamelPocRequestType"/>
    </wsdl:message>

    <wsdl:message name="CamelPocResponseMessage">
        <wsdl:part name="out" element="tns:CamelPocResponseType"/>
    </wsdl:message>

    <wsdl:portType name="CamelPocServicePortType">
        <wsdl:operation name="setName">
            <wsdl:input message="tns:CamelPocRequestMessage"/>
            <wsdl:output message="tns:CamelPocResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CamelPocBinding" type="tns:CamelPocServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setName">
            <soap:operation soapAction="http://camelpoc.poc.businessagility.com/setName" style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CamelPocService">
        <wsdl:port name="CamelPocPort" binding="tns:CamelPocBinding">
            <soap:address location="http://localhost:8090/camelxsltpoc/ws/CamelPoc"/>
        </wsdl:port>
    </wsdl:service>
  
</wsdl:definitions>