src/main/resources/wsdl/ContactUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ContactUpdate" targetNamespace="http://webservices.poc.businessagility.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.poc.businessagility.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xsd:schema xmlns:tns="http://webservices.poc.businessagility.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://webservices.poc.businessagility.com/">
  <xsd:element name="updateContact" type="tns:updateContact"/>
  <xsd:complexType name="updateContact">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="_publicID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="_firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="_lastName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="updateContactResponse" type="tns:updateContactResponse"/>
  <xsd:complexType name="updateContactResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateContact">
    <wsdl:part name="parameters" element="tns:updateContact">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateContactResponse">
    <wsdl:part name="parameters" element="tns:updateContactResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContactUpdatePortType">
    <wsdl:operation name="updateContact">
      <wsdl:input name="updateContact" message="tns:updateContact">
    </wsdl:input>
      <wsdl:output name="updateContactResponse" message="tns:updateContactResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactUpdateSoapBinding" type="tns:ContactUpdatePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateContact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateContact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateContactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactUpdate">
    <wsdl:port name="ContactUpdatePort" binding="tns:ContactUpdateSoapBinding">
      <soap:address location="http://localhost:8090/camelxsltpoc/ws/ContactUpdate"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
